navbar css 
body{
    margin-left: 10px;
}
ul{
    display: table;
    margin: 0 auto;
}

.mid{
    margin-bottom: 40px;
    margin-top: 20px;
}
.mid ul li{
    float: left;
    list-style-type: none;
    font-size: 18px;
    padding: 25px 20px 13px 20px;
}

.mid ul li a{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
